body{
    color: rgb(255,255,255);
}
nav{
    margin-top: 1.7%;
}
nav h4 span{
    color: rgb(79,162,149);
    margin-top: 1.7%;
    padding: 0px 0% 0% 0%;
    font-size: 25;
}
nav h4{
    color: rgb(59,22,4);
    margin-top: 1.7%;
    padding: 0px 10% 0% 0%;
    font-size: 25px;
}
/* h3{
    border-color: rgb(251,186,49);
    border: 1px solid;
} */
.nav p{
    color: rgb(251,186,49);
    border: none;
    font-size: 30px;
    margin-top: 1.5%;
}
.nav p span{
    color: rgb(67,160,144);
}
nav{
    display: flex;
    padding: 0px 0% 0% 8%;
    margin-top: 5%;
}
ul{
    display: flex;
    list-style: none;
}
ul li a{
    text-decoration: none;
    display: flex;
    color: rgb(163,151,146);
    padding: 15px 70px 0px 20px;
}
a button{
    margin: 10px 10px 0px 100px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    border: none;
    background-color: rgb(81,132,249);
    color: white;
}
.icons{
   display: flex;
   margin-left: 7%;
   margin-top: 5%;
}
.fa-instagram{
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
    background-color: rgb(251,186,49);
    color: rgb(6, 6, 6);
    border-radius: 27px;
    box-shadow: 13px 13px 13px 5px rgb(237,232,227);
}
.fa-twitter{
    font-size: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: rgb(67,161,145);
    color: white;
    border-radius: 27px;
    box-shadow: 13px 13px 13px 5px rgb(237,232,227);
}
/* section{
    display: flex;
} */
/* .all{
    opacity: 70%;
    display: flex;
} */
.words h1{
    color: rgb(59,22,4);
    font-size: 60px;
    margin-left: 7%;
}
.words h6{
    color: rgb(163, 162, 165);
    font-size: 19px;
    margin-left: 7%;
}
.words .contact{
    color: rgb(247, 246, 249);
    font-size: 19px;
    margin-left: 7%;
    background-color: rgb(67,161,145);
    padding: 19px 35px 19px 35px;
    border-radius: 25px;
    border: none;
    margin-top: -8%;
    box-shadow: 13px 13px 13px 5px rgb(249, 191, 210);
}
.dp{
    border: 1px solid;
    color: black;
    font-size: 19px;
    margin-left: 7%;
    background-color: white;
    padding: 5px 35px 18px 35px;
    border-radius: 25px;
    box-shadow: 13px 13px 13px 5px rgb(232,230,231);
    /* margin-bottom: 250px; */
}
.dp span{
    color: rgb(59,22,4);
    font-size: large;
}
/* .pic{
    transform: translate();
} */
.pic img{
   margin-left: 590px; 
   margin-top: -320px;
   width: 600px;
   margin-right: 50px;
}
.pic{
    margin-top: -60px;
    margin-left: 270px;
}